body {
    /* text-align: center; */
    background-color: lightslategray;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: slateblue;
    font-weight: 200;
}

.page-title {
    text-align: center;
    background-color: lightgray;
    border: 2px solid black;
    color: black;
    font-size: 50px;
    padding: 20px;
    margin: 1% 10%;
}

.dish-image {
    width: 500px;
    height: 400px;
    border: 3px solid black;
}

.dish-image-container {
    display: inline-block;
    vertical-align: middle;
    padding: 2% 0;
}

.dish-info {
    width: 400px;
}

.recipe-card {
    text-align: center;
}

.recipe-links {
    background-color: lightgrey;
    border: 2px solid black;
    font-size: 28px;
    list-style-position: inside;
    text-align: left;
    margin: 2% 10%;
}

.recipe-links li {
    color: black;
    margin: 10px;
    padding: 10px;
}

.ingredients, .instructions, .dish-info {
    background-color: lightgrey;
    color: black;
    text-align: left;
    border: 2px solid black;
    padding: 20px 50px;
    font-size: 20px;
    margin: 30px 10%;
}

