body {
    text-align: center;
    background-color: ghostwhite;
}

a {
    color: brown;
    font-weight: 200;
}

.page-title {
    background-color: yellow;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.dish-image {
    width: 500px;
    height: 500px;
    border: 5px double black;
}

.recipe-links {
    background-color: aqua;
    font-size: 22px;
    display: inline-block;
    list-style-position: inside;
    text-align: left;
}

.recipe-links li {
    color: floralwhite;
    margin: 10px;
    padding: 10px;
    background-color: darkgray;
}

.ingredients, .instructions {
    text-align: left;
    border: 2px solid black;
    padding: 10px;
    margin: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.dish-info {
    font-size: 20px;
    margin: 50px 30px 50px 30px;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}